{
  "extends": ["prettier", "google"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100
      }
    ]
  }
}
